{% extends 'base.html' %}

{% block title %}Lista de usuarios - Mi E-commerce{% endblock %}

{% block content %}
    <h1>Lista de usuarios</h1>

    <a href="{% url 'usuarios:crear_usuario' %}">Crear usuario</a>

    {% if usuarios %}
        <ul>
            {% for usuario in usuarios %}
                <li>
                    {{ usuario.username }} - {{ usuario.email }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay usuarios registrados.</p>
    {% endif %}
{% endblock %}
